body {
	background: #f3f3f3;
}	
header {
	background: #ff9729;
}
.header-style-1 .header-nav {
	background: #c36705;
}
.breadcrumb {
	background: #e8e8e8;
	border-radius: 0;
}
.breadcrumb-inner .list-inline > li {
	font-size: 12px;
	font-family: 'Open Sans', san-serif;
}
.latest-blog .blog-slider {
    padding-left: 21px;
}
.top-cart-row .dropdown-cart .lnk-cart {
    background: #ff9729;
    border: 1px solid rgba(195, 103, 5, 0.51);
}